
/* .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

.card{
    background: white;
    width: 270px;
    height: 400px;
    margin: 10px;
    border-radius: 15px 15px 0 0;
}

/* .card-image{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
} */

/* .card-1 {
    background-image: url('C:\\Users\\vchaurasia\\Desktop\\projects\\osnat\\src\\images\\skinClues.jpg');
} */

/* .card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all .5s ease-in-out;
} */




/* 
.container{
    position: relative;
    width: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.container .card{
    width: 100%;
    background: #fff;
}

.container .card .imgBx{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.container .card:hover .imgBx img{
    transform: scale(1.5);
}

.container .card .content{
    padding: 10px;
}

.container .card .content .productName h3{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
}

.container .card .content .price_rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .card .content .price_rating h2{
    font-size: 20px;
    color: #ff2020;
    font-weight: 500;
}
 */
